.post {
  border-radius: 3px;
  background-color: rgba(0, 0, 20, 0.1);
  padding: 0.6em;
  margin: 0.2em;
  display: flex;
  font-size: 16px;
}

.post .author,
.post .message {
  padding: 0.2em;
}

.post__left {
  flex-direction: row;
}

.post__right {
  flex-direction: row-reverse;
}

.author {
  background-color: coral;
  color: white;
  border-radius: inherit;
}

.message {
  background-color: rgba(0, 0, 20, 0.05);
  border-radius: inherit;
}
